$palewhite: rgba(255, 255, 255, 0.3);

.dashboard {
  position: fixed;
  right: 30px;
  bottom: 150px;
  z-index: 40;
  width: 100%;
  height: 100%;
  min-height: 800px;
  max-height: 980px;
  max-width: 430px;
  background: #000;
  border: 1px solid $palewhite;
  padding: 60px 20px;
  position: fixed;
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid $palewhite;
    left: -15px;
    top: -15px;
  }
}

.dashboard__block {
  position: relative;
  z-index: 1;
}

.dashboard__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #000;
}

.dashboard__text {
  padding-bottom: 80px;
  margin-bottom: 80px;
  border-bottom: 1px solid $palewhite;;
  transition: opacity 500ms ease-in-out;
  height: 220px;
  line-height: 2;
}

.is-full {
  .dashboard__animation {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    height: 100%;
  }
}

.data__dashboard {
  padding: 100px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  display: flex;
}

.data__dashboard__item {
  margin-right: 200px;
}

.data__dashboard__rivers {
  display: flex;
}

.data__dashboard__rivers__item  {
  margin-right: 80px;
}

