// svgs overlays
.info {
  z-index: 3;
}

.info__screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  &.visible {
    opacity: 1;
  }
}